.clientSection {
  /* margin-top: 128px; */
  padding: 128px 0;
}
.client {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.client__content {
  width: 624px;
}
.client__content-span {
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
}
.client__content-title {
  color: #232536;
  font-size: 38px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
  margin: 16px 0;
}

.client__content-desc {
  color: var(--dark);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  opacity: 0.6;
}

.client__photo {
  width: 575px;
  height: 398px;
}
.client__photo-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
